$color-black: #141414;
$color-blue: #23396C;
$color-dark-blue: #0B1939;
$color-orange: #DD5B2C;
$color-grey: #D4D0c4;
$color-white: #F5F5F5;

@mixin code-font() {
  font-family: 'Roboto Mono', monospace;
}

@mixin prose-font() {
  font-family: 'Open Sans', sans-serif;
}

$base-ghost-color: rgba(221, 221, 221, 0.644);
$ghost-color: #ecebebf1;
$animation-duration: 1000ms;

@mixin background-gradient { 
  background-image: linear-gradient(90deg, $base-ghost-color 0px, $ghost-color 40px, $base-ghost-color 80px);
  background-size: 80vw;
}

@keyframes ghost { 
  0%   { background-position: -50px;  }
  50%  { background-position: 50vw;    }
  100% { background-position: 80vw;    }
}

@mixin animate-ghost {
  @include background-gradient;
  animation: ghost $animation-duration infinite linear;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: var(--image-opacity, 1); }
}

:root {
  --color-background: #{$color-white};
  --color-main: #{$color-blue};
  --color-accent: #{$color-blue};
  --color-text: #{$color-black};
  --color-faded: #{$color-grey};

  --image-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #{$color-black};
    --color-main: #{$color-grey};
    --color-accent: #{$color-orange};
    --color-text: #{$color-white};
    --color-faded: #{$color-dark-blue};

    --image-opacity: 0.9;
  }
}